.item {
  display: flex;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;

  flex-direction: column;
  width: 400px;
  color: white;
}

.label {
  display: flex;
  margin-bottom: 5px;
}
.percentage {
  font-size: 24px;
  display: flex;
}
